name: export
on: [push]

jobs:
    build:
        strategy:
            matrix:
                os: [macos-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - name: checkout repository
              uses: actions/checkout@v2
            - name: make packwiz executable
              run: chmod +x ./packwiz
            - name: export modrinth
              run: ./packwiz mr export
            - name: capture export artifacts - modrinth
              uses: actions/upload-artifact@v2
              with:
                  name: Artifacts-Modrinth
                  path: ./**.mrpack
